# Supabase Configuration
SUPABASE_URL=https://sfwehkckzrfodneysmgy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmd2Voa2NrenJmb2RuZXlzbWd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NzM0NTMsImV4cCI6MjA5MzA0OTQ1M30.umQdURaXaV13qLe9MNCDj3AkeRj0UQ4GX5fZ3wGnzVI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmd2Voa2NrenJmb2RuZXlzbWd5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQ3MzQ1MywiZXhwIjoyMDkzMDQ5NDUzfQ.Gj1NyhjlZaopZN_5FDlNQYiT4rZIg-H4MMrgRVdQZe8
SUPABASE_JWT_SECRET=PYC5x1M601bODwvKjE2rQ6JD2Ek6eQTFB6ls8dPkyFNJHKz88+ZLgOGSXFBfWCBzrys1CEJy99jivS25DTac1g==

# JWT Configuration
JWT_SECRET_KEY=bba16de81783c1483d0cf7bc2044de85b4f51ec4917fccf9530d0f004447f577
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=24

# Server Configuration
ENVIRONMENT=development
DEBUG=True
OPENAI_API_KEY=your_openai_api_key_optional
